*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #4dd2ff;
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Relative to 1% of the height of the viewport */
.piano {
  display: flex;
}

.key {

}

.white {
  width: 9.5vw;
  height: 70vh;
  background-color: white;
  border: 1px solid #333;
}
.white.active {
  background-color: #CCC;
}

.black {
  width: 6vw;
  height: 38vh;
  background-color: black;
  border-color: #333;
  margin-left: -3vw;
  margin-right: -3vw;
  z-index: 2;
}

.black.active {
  background-color: #333;
}
